<!-- weibo_index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>weibo</title>
        <style>
            .comment-list {
                border: 1px gray solid;
            }
        </style>
    </head>
    <body>
        <input id='id-input-weibo'>
        <button id='id-button-add'>add</button>
        <div class="weibo-list">
            
        </div>
        <script src='/static?file=gua.js' charset="UTF-8"></script>
        <script src='/static?file=weibo.js' charset="UTF-8"></script>
</body>
</html>